body * 
{
    font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    text-align:left;
}

/*#region definição do layout*/
body {
    text-align:center;
    background-image: linear-gradient(to bottom, #DDD, #FFF);
}
    body > header,
    body #Main
    {
        max-width: 90%;
        min-width: 55em;
        margin: 0px auto;
    }
    body > header
    {
        padding: 1em 0;
    }
    #Menu, 
    #Content
    {
        display: table-cell;
        background-color: #FFF;
        border: 1px solid #DDD;
        vertical-align: top;
        padding: 1em 0;
    }
    #Menu {
        max-width: 30%;
        min-width: 12em;
    }

    body > footer {
        background-color: #e80000;
        padding: 1em 0;
        z-index: -1;
        margin-top: -2em;
        position:relative;
        border-top: 0.5em solid black;
    }
/*#endregion*/

/*#region cabeçalho da página*/
body > header h1
    {

        font-size: 1.8em;
    }
/*#endregion*/

/*#region rodapé da página*/
/*#endregion*/


/*#region menu de navegação*/
#Menu nav
{
    padding: 0 1em;
}
    #Menu nav li
    {
        display: block;
    }
    #Menu nav > ul > li
    {
        margin-bottom: 0.5em;
    }
    #Menu nav > ul > li > a
    {
        font-weight: bold;
    }

    #Menu nav > ul ul
    {
        margin-left: 1em;
    }
    #Menu nav > ul ul > li:before
    {
        content:"- ";
    }
    #Menu nav a
    {
        color: #000;
        text-decoration: none;
    }
    #Menu nav a:hover
    {
        text-decoration: underline;
    }
/*#endregion*/


/* conteudos */
/* separador*/
section#Content hr:after
{
    content: "* * *";
}
section#Content hr
{
    border: 0;
    text-align: center;
    margin: 1em 0 2em 0;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
/*titulos*/
section#Content h1
{
    font-size: 1.5em;  
}
section#Content h2
{
    font-size: 1.2em;
}
section#Content h3
{
    font-size: 1em;
}
/*rodape artigos*/
section#Content > article footer
{
    text-align:right;
}
section#Content > article footer > a
{
    margin: 0.5em;
    color: #666;
    font-size: 0.8em;
}
section#Content > article footer > a:hover
{
    color: #000;
}

/* capitulos*/
section#Content > article
{
    padding: 0 2em 1em 2em;
}

section#Content > article header
{
    padding-bottom: 1.5em;
}
section#Content > article h1
{
    border-bottom: 1px solid #000;
}

/* exemplo */
article.exemplo
{
    margin-top: 20px;
    border: 1px solid #DDD;
    padding: 20px;
}
article.exemplo > header,
article.config > header
{
    display: inline-block;
    margin-top: -30px;
    position: absolute;
    background-color: #FFF;
    padding: 0px 10px;
}
    section#Content article.exemplo ul {
        margin: 0px;
        padding: 0px 0px 0px 10px;
    }

    section#Content article.exemplo li {
        display: block;
        margin-bottom: 20px;
    }
    section#Content article.exemplo div.code,
    section#Content article.exemplo div.view {
        border: 1px solid #DDD;
    }
    section#Content article.exemplo h4 {
        padding: 0px;
        margin: 0px;
        color: #DDD;
    }
section#Content  article.exemplo div.view
{
    background-color: #fffd93;
    padding: 10px;
}

/* padrao para declaração de attributos */
/*article.attr
{
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}
article.attr > header
{
    margin-top: -10px;
    margin-left: 20px;
}

article.attr dl,details dt,details dd
{
    margin: 0px;
    padding: 0px;
    display: block;
}
article.attr > dl
{
    margin: 20px 20px 0px 30px;
}
article.attr > dl dl
{
    margin-top: 1em;
}
article.attr dt
{
    font-weight: bold;
    float:left;
    clear: both;
}
article.attr dt:after
{
    content:":";
}
article.attr dd
{
    float:left;
    margin-left: 5px;
}*/


/*especifos*/
#Home h2
{
    margin-bottom: 0.5em;
}
#Home ol
{
    margin-bottom: 1em;
    list-style-position: inside;
}
#Home ol li
{
    padding: 0.1em 0.5em;
}
#Home ol li:nth-child(odd)
{
    background:#EEE;
    
}
/*hacks*/
summary::-webkit-details-marker { font-size:0px }


/*hacks*/
.code .syntaxhighlighter .line {
        white-space: pre-wrap !important; /* make code wrap */
}

